<%- include("partials/header") -%>
<article class="featured">
  <div class="feature-div" style="background-image: url(/images/party_cat.jpg)">
    <!-- <img class="feature_img" src="/images/party_cat.jpg" alt="party cat"> -->
    <div class="container feature-div-headers">
      <h3>Featured</h3>
      <h1><a href="#">Featured Post Title Here</a></h1>
    </div>
  </div>
</article>
<!-- <img src="/images/party_cat.jpg" alt="party cat"> -->
<div class="container">
<h1>Home</h1>
<p> <%= homeStartingContent %> </p>

<% posts.forEach(function(post){ %>
    <h1> <%= post.title %> </h1>
    <p> <%= post.content.slice(0, 100) + "..." %> <a href="/posts/<%=post._id%>">Read More</a> </p>
<% }); %>

<%- include("partials/footer") -%>
