<%- include("partials/header") -%>
<article class="featured">
  <div class="feature-div" style="background-image: url(/images/party_cat.jpg)">
    <!-- <img class="feature_img" src="/images/party_cat.jpg" alt="party cat"> -->
    <div class="container feature-div-headers">
      <h3>Featured</h3>
      <h1><a href="#">Featured Post Title Here</a></h1>
    </div>
  </div>
</article>
<!-- <img src="/images/party_cat.jpg" alt="party cat"> -->
<div class="container">
<!-- <h1>Home</h1> -->
<!-- <p> <%= homeStartingContent %> </p> -->
<% posts.forEach(function(post){ %>
  <article class="recent">
    <!-- add a posted on date -->
    <div class="container article-content">
      <a href="/posts/<%=post._id%>" class="article-thumbnail">
        <img src="/images/party_cat.jpg" alt="party cat">
      </a>
      <div class="post-date">
        <p>Posted On</p>
      </div>
      <h1> <%= post.title %> </h1>
      <div class="article-preview">
        <% if(post.contentText){ %>
          <p><%= post.contentText.slice(0, 200) + "..." %> </p>
        <% }else{ %>
          <%- post.decoded_HTML %>
        <% } %>
        <a href="/posts/<%=post._id%>">Read More</a>
        <!-- see bottom of file for removed line -->
      </div>
    </div>
  </article>
    <hr>
<% }); %>

<%- include("partials/footer") -%>

<%# could do something like this but would need to make it a script after page loads %>

<%# console.log("Type of decodedHTML: " + typeof(post.decoded_HTML)) %>
<%# const parser = new DOMParser(); %>
<%# const newDoc = parser.parseFromString(decodedHTML, "text/html"); %>
<%# const plainText = newDoc.body.firstChild.textContent; %>
<%# console.log("Text: " + plainText); %>

<!-- <p> re add ejs tags post.content.slice(0, 100) + "..." %> <a href="/posts/ re add ejs tags post._id%>">Read More</a> </p> -->
