<%- include("partials/header") -%>

<div class="container">
  <h1>Profile Settings</h1>
  <div class="two-card-col-wrapper">
    <div class="profileDiv about-card two-card-col">
      <h2 class="settings-header">About You</h2>
      <!-- <form class="about-you-form" action="" method=""> -->
        <div class="inputs">
          <hr>
          <form id="name-form" name="name"  method="post" action="/profile/update/name">
            <label class="smallLabel" for="name-input">Username</label>
            <input type="text" id="name-input" name="userName" value="<%= user.name %>" placeholder="Name" readonly>
            <span class="buttons">
              <button type="button" id="name-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="name-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="name-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <form id="email-form" name="email" action="/profile/update/email" method="post">
            <label class="smallLabel" for="email-input">Email</label>
            <input type="email" id="email-input" name="" value="<%= user.email %>" placeholder="Email" readonly>
            <span class="buttons">
              <button type="button" id="email-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="email-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="email-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <form id="password-form" name="password" action="/profile/update/password" method="post">
            <label class="smallLabel" for="password-input">Password</label>
            <input type="password" id="password-input" name="" value= "<%= user.password %>" placeholder="Change Password" readonly>
            <span class="buttons">
              <button type="button" id="password-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="password-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="password-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <h3 class="settings-header">Social Media Links</h3>
          <form id="facebook-form" name="facebook" action="/profile/update/facebookLink" method="post">
            <label class="smallLabel" for="fb-input">Facebook</label>
            <input type="text" id="fb-input" name="" value= "<%= user.socialMediaLinks.facebookLink %>" placeholder="Facebook" readonly>
            <span class="buttons">
              <button type="button" id="fb-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="fb-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="fb-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <form id="twitter-form" name="twitter" action="/profile/update/twitterLink" method="post">
            <label class="smallLabel" for="twitter-input">Twitter</label>
            <input type="text" id="twitter-input" name="" value="<%= user.socialMediaLinks.twitterLink %>" placeholder="Twitter" readonly>
            <span class="buttons">
              <button type="button" id="twitter-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="twitter-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="twitter-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <form id="insta-form" name="insta" action="/profile/update/instaLink" method="post">
            <label class="smallLabel" for="insta-input">Instagram</label>
            <input type="text" id="insta-input" name="" value="<%= user.socialMediaLinks.instaLink %>" placeholder="Instagram" readonly>
            <span class="buttons">
              <button type="button" id="insta-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="insta-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="insta-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <form id="github-form" name="github" action="/profile/update/githubLink" method="post">
            <label class="smallLabel" for="github-input">Github</label>
            <input type="text" id="github-input" name="" value="<%= user.socialMediaLinks.githubLink %>" placeholder="Github" readonly>
            <span class="buttons">
              <button type="button" id="github-edit-btn" class="profileEdit-btn about-btn">Edit</button>
              <button type="button" id="github-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="github-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
        </div>
      <!-- </form> -->
    </div>

    <div class="profileDiv blog-card two-card-col">
      <h2 class="settings-header">About Your Blog</h2>
      <!-- <form class="your-blog-form" action="" method=""> -->
        <div class="inputs">
          <hr>
          <form id="title-form" name="title" action="/profile/update/blogTitle" method="post">
            <label class="smallLabel" for="title-input">Blog Title</label>
            <input type="text" id="title-input" name="" value="<%= user.blogTitle %>" placeholder="Blog Title" readonly>
            <span class="buttons">
              <button type="button" id="title-edit-btn" class="profileEdit-btn blog-btn" name="button">Edit</button>
              <button type="button" id="title-cancel-btn" class="profileEdit-btn cancel-btn" hidden="true">Cancel</button>
              <button type="submit" id="title-save-btn" class="profileEdit-btn save-btn" hidden="true">Save</button>
            </span>
          </form>
          <hr>
          <label class="smallLabel" for="blog-url">Blog URL</label>
          <p id="blog-url"><%= user.blogURL %> </p>
          <!-- <button type="button" class="profileEdit-btn blog-btn" name="button">Edit</button> -->
          <hr>
          <form id="thumbnail-form" name="thumbnail" action="/profile/update/defaultImg" method="post" enctype="multipart/form-data">
            <label for="thumbnailImg">Default Thumbnail Image</label>
            <input type="file" id="thumbnail-input" name="thumbnailImg" accept="image/*" value="" style="display: none">
            <button type="button" id="thumbnail-edit-btn" class="profileEdit-btn blog-btn">Edit</button>
            <div class="img-preview-btns-div">
              <button type="submit" id="thumbnail-save-btn" class="profileEdit-btn left-btn" hidden="true">Save</button>
              <button type="button" id="thumbnail-cancel-btn" class="profileEdit-btn left-btn" hidden="true">Cancel</button>
            </div>
            <img src="images/<%= user.defaultImg %>" alt="thumbnail preview" id="thumbnail-preview">
          </form>
          <hr>
          <form id="banner-form" name="banner" action="/profile/update/bannerImg" method="post" enctype="multipart/form-data">
            <label for="bannerImg">Banner Image</label>
            <input type="file" id="banner-input" name="bannerImg" accept="image/*" value="" style="display: none">
            <button type="button" id="banner-edit-btn" class="profileEdit-btn blog-btn">Edit</button>
            <div class="img-preview-btns-div">
              <button type="submit" id="banner-save-btn" class="profileEdit-btn left-btn" hidden="true">Save</button>
              <button type="button" id="banner-cancel-btn" class="profileEdit-btn left-btn" hidden="true">Cancel</button>
            </div>
            <img src="images/<%= user.bannerImg %>" alt="banner preview" id="banner-preview">
          </form>
          <hr>
          <form id="featured-form" name="featured" action="/profile/update/featuredPost" method="post">
            <div class="featuredPostDiv">
              <label for="featuredPost">Featured Post</label>
              <select id="featuredPost-select" name="featuredPost" disabled>
                <% posts.forEach(function(post){ %>
                  <% if(post.featuredPost){ %>
                    <option selected > <%=post.title %> </option>
                  <% } else{ %>
                    <option> <%=post.title %> </option>
                  <% } %>
                <% }) %>
              </select>
              <span class="buttons">
                <button type="button" id="featuredPost-edit-btn" class="profileEdit-btn blog-btn">Edit</button>
                <button type="button" id="featuredPost-cancel-btn" class="profileEdit-btn blog-btn" hidden="true">Cancel</button>
                <button type="submit" id="featuredPost-save-btn" class="profileEdit-btn blog-btn" hidden="true">Save</button>
              </span>
              <% posts.forEach(function(post){ %>
                <% if(post.featuredPost){ %>
                  <span class="hoverSpan"> <%=post.title %> </span>
                <% } %>
              <% }) %>
            </div>
          </form>
        </div>
      <!-- </form> -->
    </div>
  </div>
  <div class="one-card-col-wrapper">
    <div class="profileDiv posts-card one-card-col">
      <h2>Blog Posts</h2>
      <div class="inputs">
          <% posts.forEach(function(post){ %>
            <hr>
            <span> <%=post.title %> </span>
            <!-- change href after writing edit page -->
            <span><a href="edit/<%=post.id%>"><button type="button" class="profileEdit-btn" name="button">Edit</button></a></span>
          <% }) %>
      </div>
    </div>
  </div>


</div>
<script src="/JS/userProfile.js"></script>

<%- include("partials/footer") -%>
